@import "/styles/colors";

.result{
  width: 100%;
  background-color: #282828;
  border: 1px solid red;
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
}

.resultHeader{
  display: flex;
  justify-content: space-between;
}

.resultHeaderDate{
  color: grey;
}

.resultContent{
  margin-top: 10px;
}

.resultFooter{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid grey;
  margin-top: 10px;
  padding-top: 10px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  height: 40px;
  margin-top: 10px;
  padding: 12px 32px;
  color: white;
  border-radius: 10px;
  background-color: $red-active-rampage;
  font-size: 20px;
  font-weight: 600;

  &:active {
    user-select: none;
    outline: 0;
    background: $red-disable-gory;
    -webkit-tap-highlight-color: transparent;
  }
}