@import "/styles/theme";

.content{
  width: 90%;
  max-width: 500px;
  margin: 20px auto 0;
}

.header{
  display: flex;
  justify-content: space-between;
}

.userName{
  font-size: 20px;
  font-weight: $fw-open-sans-bold;
}

.userIcon{
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 100%;
  text-align: center;
  line-height: 50px;
  font-weight: $fw-open-sans-extra-bold;
  font-size: 25px;
}

.searchContent{
  display: flex;
  height: 30px;
  align-items: center;
  margin-top: 15px;
  background-color: gray;
  border-radius: 5px;
}

.searchIcon{
  font-size: 20px;
  margin: 0 5px;
}

