@import "/styles/colors";

.content{
  width: 90%;
  margin: 15px auto 0;
  max-width: 500px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cafeName{
  font-size: 20px;
  text-transform: uppercase;
}

.redirectTo {
  margin-left: 3px;
  user-select: none;
  text-decoration: none;
  color: white;
  border-bottom: 1px solid $grey-rainy;
  outline: 0;
  highlight-color: transparent;
}

.arrowBack{
  position: absolute;
  font-size: 25px;
  top: 15px;
  transform: translateX(-2px);
  border: none;
}

