$bg-young-night: #232323;
$green-kelp-forest: #458116;
$red-active-rampage: #ef3124;
$red-disable-gory: #9e0c00;
$pink-peach-orange: #ffcb9b;
$grey-rainy: #a5a5a5;
$grey-tin: #919191;
$grey-orochimaru: #d9d9d9;
$grey-content: #3e3e3e;
