//шрифты
@import "https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap";

$ff-open-sans: "Open Sans", sans-serif;
$fw-open-sans-light: 300;
$fw-open-sans-regular: 400;
$fw-open-sans-medium: 500;
$fw-open-sans-semi-bold: 600;
$fw-open-sans-bold: 700;
$fw-open-sans-extra-bold: 800;

//цвета
$bg-young-night: #232323;
$green-kelp-forest: #458116;
$red-active-rampage: #ef3124;
$red-disable-gory: #9e0c00;
$pink-peach-orange: #ffcb9b;
$grey-rainy: #a5a5a5;
$grey-tin: #919191;
$grey-orochimaru: #d9d9d9;
