@import "/styles/colors";

.content {
  width: 90%;
  margin: 15px auto 0;
  max-width: 500px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cafeName {
  font-size: 20px;
  text-transform: uppercase;
}

























